.background-image {
  height: 100vh;
  background: var(--background-color);
  display: grid;
  place-items: center;
}
.nickname-info button{
  background-color: var(--background-color);
  color: var(--text-color);
}
.nickname-info button:hover{
  background-color: var(--secondary-color);
  transition: all .3s ease-in-out;
}
.form__group {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: var(--background-color);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--background-color);
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--background-color), var(--primary-color));
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--background-color);
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}
li {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

ol {
  padding: 0;
  max-width: 30%;
}
.quiz-header {
  display: flex;
  justify-content: center;
}
.score-question {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.progress {
  margin: 2% 0;
}
.question {
  text-align: center;
  padding: 2% 0;
}
.question h3{
  font-size: 30px;
}
.first{
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

.two-buttons{
  display: flex;
  justify-content: space-between;
  margin-top:5%;
}
.score-question h5{
  font-size: 30px;
}

.btn{
  margin: 1%;
  color: var(--text-color);
  background-color: var(--primary-color);
}
.btn:hover{
  transition:.3s ease-in;
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.row p{
  color: var(--text-color);
}

tr{
  text-align: center;
}
.score-review{
  width: 90%;
  margin: 10px auto;
  box-sizing: border-box;
}
.score-review .heading-quiz{
  margin-top: 0;
}
.table>:not(:first-child){
  border-top: 1px solid var(--text-color);
}
.card-1{
  border-radius:20px;
  height: 50%;
  width:200px;
  background-color:black;
  display:grid;
  align-items:center;
  justify-content:center;
}
h1, h2, h3, h4, h5{
  color:var(--text-color);
  font-weight: bolder;
}

.nickname-div {
  width: 30%;
  background: white;
  box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 10px;
}

.nickname-info {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 90%;
  margin-top: -80px;
}

.nickname-img {
  width: 60%;
  border-radius: 50%;
  transform: translateY(-50%);
  background: var(--background-color);
  position: relative;
  transition: all .3s ease-in-out;
  display: flex;
}
.nickname-pos{
  display: flex;
  flex-direction: column;
}
.nickname-img::before {
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  border: 1rem solid var(--text-color);
}

/*Text*/
.text-title {
  text-transform: uppercase;
  font-size: 0.75em;
  color: var(--background-color);
  letter-spacing: 0.05rem;
}

.text-body {
  font-size: .8em;
  text-align: center;
  color: var(--primary-color);
  font-weight: 400;
  font-style: italic;
}

.nickname-div:hover .nickname-img {
  width: 70%;
}
.input-1{
  border: 2px solid var(--background-color);
  border-radius: 5px;
}

.image img{
  justify-content:center;
  margin-top:-20px;
  width:100px;
  height:100px;
  filter: drop-shadow(var(--stroke-pos) 0 0 var(--primary-color))
  drop-shadow(var(--stroke-neg) 0 var(--primary-color))
  drop-shadow(0 var(--stroke-pos) 0 var(--primary-color))
  drop-shadow(0 var(--stroke-neg) 0 var(--primary-color))
  drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--primary-color))
  drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--primary-color))
  drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--primary-color))
  drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--primary-color));
}
.progress-bar{
  background-color: var(--primary-color);
}

.results-top img{
  width: 50%;
  height: 50%;
}
.row{
  text-align: center;
  display: grid;
  place-items: center;
}
.answer{
  width:200px;
  height: 100%;
  cursor: pointer;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  position:relative;
  box-sizing:border-box;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.options{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}
.text{
  background-color: var(--background-color);
  width: 100%;
  height: inherit;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: grid;
  place-items: center;
}
.text p{
  text-align:center;
  color:var(--text-color);
  margin: 0 auto;
  width: 90%;
  padding: 10px 0;
}
.answer:hover .text{
  transition:.3s ease-in;
  background-color:var(--primary-color);
}
.answer:hover img{
  transition:.3s ease-in;
  transform:translateY(-10px);
}

.nickname-div .nickname-img img{
  margin-bottom: 12%;
  width: 90%;
  height: 90%;
  min-height: 10%;
  min-width: 10%;
}
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 0.25rem;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  width: 72%;
  color: var(--text-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 36px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.button .svg {
  stroke: var(--text-color);
}

.button:hover {
  background: var(--primary-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 100%;
  transform: translateX(0);
  border-radius: 0.25rem;
}

.button:active .button__icon {
  background-color: var(--primary-color);
}

.button:active {
  border: 2px solid var(--primary-color);
}

.heading-quiz {
  margin-top: revert;
}
.row .heading-quiz{
  line-height: 40px;
  font-size: 25px;
}
.modal .heading-quiz{
  font-size: 50px;
}

.modal.active {
  display: flex;
  background-color: var(--background-color);
}
.modal-content {
   background-color: var(--background-color);
   align-items: center;
   border: none;
}
.modal-content button{
  width: 90%;
  bottom: 1.5%;
  margin: 0;
  position: sticky;
  border: 2px solid var(--text-color);
  background-color: var(--secondary-color);
  box-shadow: 0 0 25px 2px rgba(0,0,0,0.8);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  box-shadow: 0 0 40px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.list-group{
  margin-bottom: 2%;
  min-width: 100%;
  box-shadow: 0 0 20px;
}

@media (max-width: 800px) {

  .background-image {
    min-height: 100%;
    background:var(--background-color);
  }
  .answer{
    margin-top:30px;
    min-width:90%;
  }
  .options{
    flex-direction: column;
  }
  .options ol, ul {
    margin-bottom: 1rem;
  }
  .options ol{
    min-width: 100%;
    display: grid;
    place-items: center;
  }
  .text p{
    padding: 0;
  }
  .nickname-div {
    width: 80%;
    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 300px) {
    h1,h2,h3,h4,h5{
    font-size: 15px;
  }
  .question h3{
    font-size: 15px;
  }
  .score-question h5{
    font-size: 15px;
  }
  .text p{
    font-size: 12px;
  }
  .button .button__text{
    width: 63%;
    font-size: 15px;
  }
  .button{
    margin: 0px 10px;
    width: 937.5%;
    height: 250%;
  }
  .button .button__icon{
    transform: translateX(316.25%);
    height: 100%;
    width: 24%;
  }
}
@media (max-height: 721px){
  .image img{
    width: 70px;
    height: 70px;
    }
  h1,h2,h3,h4,h5{
    font-size: 17px;
  }
  .text p{
    font-size: 14px;
  }
}
@media (max-width: 450px){
  .image img{
    width: 65px;
    height: 65px;
    }
  h1,h2,h3,h4,h5{
    font-size: 17px;
  }
  .question h3{
    font-size: 17px;
  }
  .score-question h5{
    font-size: 17px;
  }
  .text p{
    font-size: 14px;
  }
  .options ol{
    margin-bottom: 20px;
  }
  .row{
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .result-buttons{
    justify-content: center;
    flex-direction: column;
  }
  .result-buttons .btn{
    margin: 3%;
  }
  .list-group{
    min-width: 90%;
    margin: 10% auto;
  }
  .score-review{
    width: 100%;
  }
  .score-review h3{
    font-size: 30px;
    margin-bottom: -5%;
  }
  .table{
    margin: 10% auto;
  }
}